//reset

*,*::before,*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}

html{
    color-scheme: dark-light;
    font-size: 10px;
}

img,picture,svg,video{
    display: block;
    max-width: 100%;
}

input,textarea,button,select{
    font:inherit;
}

body{
    min-height: 100vh;
    background-color: #011627;
    overflow: hidden;
}

main{
   
    height: 100%;
    
}

.watermark{
    background: url('../images/BackgroundBlurs.png');
    background-size: cover;
    width: 700px;
    height: 700px;
    position: absolute;
    top: 10%;
    left: 50%;
    
}

nav{

    font-family: "Fira Code",sans-serif;
    font-size: 1.5rem;

    & ul {
        list-style-type: none;
        overflow: hidden;
        border: 1px solid rgba($color: #fff, $alpha: 0.1);
      }

      & li:first-child{
        width: 20%;
      }
      
      & li {
        float: left;
      }
      
      & li a {
        display: block;
        color: #607B96;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-right: 1px solid rgba($color: #fff, $alpha: 0.1);
       
      }

      
      
      & li a:hover:not(.active) {
        background-color: #111;
      }
      
      & #nametab:hover:not(.active){
        background-color: inherit;
      }

      & .active {
        color: white;
        border-bottom:3px solid #FEA55F ;
      }
}

.title{
    color: #E5E9F0;
    font-family: "Fira Code",sans-serif;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-10%,-50%);

    &__prefix{
        
        font-size: 1.5rem;
    }

    &__name{
        
        font-size: 4rem;
    }
    &__position{
        font-size: 3rem;
        color: #4D5BCE;
    }
    &__msg{
        font-size: 1.5rem;
        color: #607B96;
        margin-bottom: 1rem;
    }
    &__link{
        font-size: 1.8rem;
        color: #E99287;

        &--type{
            color: #4D5BCE;
        }
        &--name{
            color: #43D9AD;
        }
        &--sign{
            color:white ;
        }

        & a{
            text-decoration: none;
        }

        & a:visited{
            
                color: inherit; /* blue colors for links too */
                text-decoration: inherit; /* no underline */
            
        }

    }
}

.projectmain{
    display: flex;
    height: 100vh;
}

.sidebar{
    height: 100%;
    width: 20%;
    

}

.content{
    border-left: 1px solid rgba($color: #fff, $alpha: 0.1);
    height: 100%;
}

.projectlist{

    display: flex;
    flex-wrap: wrap;
    padding:30px;
 

    &__cardholder{
        flex: 0 0 33.333333%;
        padding: 5px;
       

        &--main{
        }
    }

    &__name{
        font-family: "Fira Code",sans-serif;
        font-size: 1.2rem;
        color: #5565E8;
        margin-bottom: 10px;
    }

    &__card{
        background-color: #011221;
        border: 1px solid rgba($color: #fff, $alpha: 0.1);
        border-radius: 8px;
        &--thumbnail{
            background: url("../images/thumb1.png");
            background-size: cover;
            height: 100px;
        }
        &--content{
            font-family: "Fira Code",sans-serif;
            font-size: 1.2rem;
            color: #607B96;
            padding: 20px;

            & button{
                padding: 5px 10px;
                margin-top: 10px;
                background-color: #1C2B3A;
                color: white;
                border: none;
                border-radius: 8px;
            }
        }
    }
}

.aboutmemain{
    height: 100vh;
    display: flex;
    &__content{
        width: 60%;
        border-right: 1px solid rgba($color: #fff, $alpha: 0.1);
        border-left: 1px solid rgba($color: #fff, $alpha: 0.1);
    }
}

.resumeview{
    width: 100%;
    height: 100%;

    & embed{
        display: block;
        margin: 20px auto;
    }
}