//reset

*,*::before,*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}

html{
    color-scheme: dark-light;
    font-size: 10px;
}

img,picture,svg,video{
    display: block;
    max-width: 100%;
}

input,textarea,button,select{
    font:inherit;
}

body{
    min-height: 100vh;
    background-color: #011627;
    overflow: hidden;
}

main{
   
    height: 100%;
    
}

.watermark{
    background: url('../images/BackgroundBlurs.png');
    background-size: cover;
    width: 700px;
    height: 700px;
    position: absolute;
    top: 10%;
    left: 50%;
    
}

.title{
    color: #E5E9F0;
    font-family: "Fira Code",sans-serif;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-10%,-50%);

    &__prefix{
        
        font-size: 1.5rem;
    }

    &__name{
        
        font-size: 4rem;
    }
    &__position{
        font-size: 3rem;
        color: #4D5BCE;
    }
    &__msg{
        font-size: 1.5rem;
        color: #607B96;
    }
    &__link{
        font-size: 1.8rem;
        color: #E99287;
        &--type{
            color: #4D5BCE;
        }
        &--name{
            color: #43D9AD;
        }
        &--sign{
            color:white ;
        }

        & a{
            text-decoration: none;
        }

        & a:visited{
            
                color: inherit; /* blue colors for links too */
                text-decoration: inherit; /* no underline */
            
        }

    }
}