*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark-light;
  font-size: 10px;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

body {
  min-height: 100vh;
  background-color: #011627;
  overflow: hidden;
}

main {
  height: 100%;
}

.watermark {
  background: url("../images/BackgroundBlurs.png");
  background-size: cover;
  width: 700px;
  height: 700px;
  position: absolute;
  top: 10%;
  left: 50%;
}

nav {
  font-family: "Fira Code", sans-serif;
  font-size: 1.5rem;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
nav li:first-child {
  width: 20%;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: #607B96;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
nav li a:hover:not(.active) {
  background-color: #111;
}
nav #nametab:hover:not(.active) {
  background-color: inherit;
}
nav .active {
  color: white;
  border-bottom: 3px solid #FEA55F;
}

.title {
  color: #E5E9F0;
  font-family: "Fira Code", sans-serif;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-10%, -50%);
}
.title__prefix {
  font-size: 1.5rem;
}
.title__name {
  font-size: 4rem;
}
.title__position {
  font-size: 3rem;
  color: #4D5BCE;
}
.title__msg {
  font-size: 1.5rem;
  color: #607B96;
  margin-bottom: 1rem;
}
.title__link {
  font-size: 1.8rem;
  color: #E99287;
}
.title__link--type {
  color: #4D5BCE;
}
.title__link--name {
  color: #43D9AD;
}
.title__link--sign {
  color: white;
}
.title__link a {
  text-decoration: none;
}
.title__link a:visited {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.projectmain {
  display: flex;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: 20%;
}

.content {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
}

.projectlist {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}
.projectlist__cardholder {
  flex: 0 0 33.333333%;
  padding: 5px;
}
.projectlist__name {
  font-family: "Fira Code", sans-serif;
  font-size: 1.2rem;
  color: #5565E8;
  margin-bottom: 10px;
}
.projectlist__card {
  background-color: #011221;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.projectlist__card--thumbnail {
  background: url("../images/thumb_proj1.png");
  background-size: cover;
  background-position: center;
  height: 100px;
}
.projectlist__card--content {
  font-family: "Fira Code", sans-serif;
  font-size: 1.2rem;
  color: #607B96;
  padding: 20px;
}
.projectlist__card--content button {
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #1C2B3A;
  color: white;
  border: none;
  border-radius: 8px;
}

.aboutmemain {
  height: 100vh;
  display: flex;
}
.aboutmemain__content {
  color: white;
  text-align: justify;
  line-height: 2.5rem;
  font-size: 1.5rem;
  padding: 50px;
  width: 60%;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.resumeview {
  width: 100%;
  height: 100%;
}
.resumeview embed {
  display: block;
  margin: 20px auto;
}/*# sourceMappingURL=style.css.map */